/* Background: #9cb5a4 */

*{
    margin: 0;
    padding: 0;
}


.navbar div {
    text-align: center;
    align-items: center;
}

.navbar {
    padding: 20px 60px;
    background-color: #9cb5a4;
    color: white;
    position: fixed;
    top: 0; right: 0; left: 0;
    opacity: 92%;
}

.contain{
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
}

.options{
    display: flex;
}

.store-links a{
    color: white;
    text-decoration: none;
}

.store-links a:hover{
    transition: 350ms;
    font-size: 21px;
}

.spacer{
    height:83px;
}